body {
  padding : 10px;
  
}

#exTab1 .tab-content {
  color : black;
  /* background-color: #428bca; */
  padding : 5px 15px;
}

#exTab2 h3 {
  color : black;
  /* background-color: #428bca; */
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #ca3220;
  padding : 5px 15px;
}


*, *:after, *:before {
  box-sizing: border-box;
}

.tabs-container {
  position: relative;
  height: 360px;
  max-width: 98%;
  margin: 0 auto;
}
.tabs-container p{
  margin: 0;
  padding: 0;
}
.tabs-container:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: none;
}
input.tabs {
  display: none;
}
input.tabs + label {
  line-height: 40px;
  padding: 0 20px;
  float: left;

  background: #444;
  color: #fff;
  cursor: pointer;
  transition: background ease-in-out .3s;
}
input.tabs:checked + label {
  color: #000;
  background: #eee;
}
input.tabs + label + div {
  width: 98%;
  opacity: 0;
  position: absolute;
  background: #eee;
  top: 40px;
  left: 0;
  height: 300px;
  padding: 10px;
  z-index: -1;
  transition: opacity ease-in-out .3s;
}
input.tabs:checked + label + div {
  opacity: 1;
  z-index: 1000;
}